
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
    <head>
        <title>Delete order</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{css/login.css}" rel="stylesheet" media="screen">

        <script th:src="@{js/libs/jquery-1.11.3.min.js}"></script>
        <script th:src="@{js/libs/dynamics.min.js}"></script>
        <script th:src="@{js/libs/angular.min.js}"></script>
        <script th:src="@{js/libs/angular-route.min.js}"></script>
        <script th:src="@{js/libs/angular-resource.min.js}"></script>
        <script th:src="@{js/libs/angular-animate.min.js}"></script>
        <script th:src="@{js/libs/angular-aria.min.js}"></script>
       
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" style="margin-top: 100px">
                    <div style="position: relative">
                        <img src="./images/mess.png" class="himg" />
                        <h1>Delete Order </h1>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px">
                <div class="col-md-6 col-md-offset-3">
                    <div class="flip-container">
                        <div class="flipper">  
                            <div class="front">
                                <form method="POST" action="">
                                    <input type="hidden" name="type" value="login" />
                                    <p style="color:#ff6666">
                                    <div class="form-group">
                                        <label>Order ID</label>
                                        <input type="text" name="o_id" class="form-control"  placeholder="OD/01">
                                    </div>
                                     <div class="form-group">
                                        <label>User ID</label>
                                        <input type="text" name="u_id" class="form-control" placeholder="Enter user id">
                                    </div>
        
                                    <button type="submit" class="login btn btn-danger">Delete order</button>
                                    <button type="submit" class="btn btn-default">
                                        <a th:href="@{/customerDash}">Back</a>
                                    </button>
                                    
                                </form>
                            </div>
                        
            </div>
        </div>


    </body>
</html>