
<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
    <head>
        <title>view invoice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link th:href="@{css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
        <link th:href="@{css/login.css}" rel="stylesheet" media="screen">

        <script th:src="@{js/libs/jquery-1.11.3.min.js}"></script>
        <script th:src="@{js/libs/dynamics.min.js}"></script>
        <script th:src="@{js/libs/angular.min.js}"></script>
        <script th:src="@{js/libs/angular-route.min.js}"></script>
        <script th:src="@{js/libs/angular-resource.min.js}"></script>
        <script th:src="@{js/libs/angular-animate.min.js}"></script>
        <script th:src="@{js/libs/angular-aria.min.js}"></script>
       
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3" style="margin-top: 100px">
                    <div style="position: relative">
                        <img src="./images/mess.png" class="himg" />
                        <h1>Invoice Details</h1>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>